{%extends "/base.html"%}
{%block title%}Tom Willis{%endblock%}
{%block body%}
  <div class="row">
    <div class="large-12 columns">
      <ul data-orbit>
	<li>
	  <img src="/images/code-banner-bw.jpg"/>
	  <div class="orbit-caption">
	    Like all good programmers I turn caffeine into <a href="/projects/">code</a>.
	  </div>
	</li>
	
	<li>
	  <img src="/images/blog-banner-bw.jpg"/>
	  <div class="orbit-caption">
	    I think about stuff and then <a href="/blog/">write about it</a> occasionally.
	  </div>
	</li>
	<li>
	  <img src="/images/sounds-banner-bw.jpg"/>
	  <div class="orbit-caption">
	    I make <a href="/music/">noise</a>.
	  </div>
	</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h1>Hello</h1>
      <p>This site is all about me and the things I am doing
	that I think are interesting enough to share.</p>

	<ul class="list">
          <li>I write software</li>
          <li>Ocassionally, I write music</li>
          <li>Ocassionally, I write words about software or music</li>
	  <li>Probably other stuff too.</li>
	</ul>

	<p>Right now, I'm writing this web site, or writing the
	  software to help me write this web site... Stay Tuned</p>
    </div>
  </div>
{%endblock%}
